<section class="py-5">
    <h1 class="display-3">
        Thank you
    </h1>
    <p class="lead">
        You will received this within a week
    </p>
    <a href="/app.js" class="btn btn-dark btn-lg">Go Back Home</a>
</section>